<h1>Search New Volumes</h1>

<search-new-volumes search="search" results="results"></search-new-volumes>

<table class="table table-striped table-bordered" ng-show="results.length">
    <thead>
    <tr>
        <td>Title</td>
        <td>Publisher</td>
        <td>Issues</td>
        <td>Start Year</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr search-new-volume-row ng-repeat="result in results | orderBy:'-start_year'" volume="result" ></tr>
    </tbody>
</table>
