<td>{{ volume.name }}</td>
<td>{{ volume.publisher.name }}</td>
<td>{{ volume.issue_count }}</td>
<td>{{ volume.start_year }}</td>
<td style="width: 1%;">
    <a href="" class="btn btn-xs btn-primary" ng-click="add()">Add</a>
</td>
