<form class="form-inline" ng-submit="submit()">
    <div class="input-group">
        <input type="text"
               class="form-control"
               placeholder="Batman: The Dark Knight"
               ng-model="search.query">

        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Search</button>
        </span>

    </div>
</form>
